<h1>Editar Departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Exibir', @departamento, class: "btn btn-default" %> |
<%= link_to 'Voltar', departamentos_path, class: "btn btn-default" %>
