<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @departamento.nome %>
</p>

<%= link_to 'Editar', edit_departamento_path(@departamento), class: "btn btn-default" %> |
<%= link_to 'Voltar', departamentos_path, class: "btn btn-default" %>
